<section class="about d-flex justfy-content-center align-items-center">
    <div class="container ">
        <div class="about-info text-center text-light  m-auto ">
            <h2 class="fw-bold">ABOUT COMPONENT</h2>
            <div class="art my-3">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3"></div>
            </div>
            <div class="row">
                <div class="col-md-6 text-start ">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
                <div class="col-md-6 text-start">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
            </div>
        </div>
    </div>



</section>
